.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url(../img/consultation_bg.jpg) center (center/cover) no-repeat;
    &__descr{
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        color: #ffffff;
    }
}

@media (max-width: 1200px){
    .consultation{
        min-height: 606px;
        padding: 90px 0 84px 0;
        &__descr {
            font-size: 18px;
        }
    }
}

@media (max-width: 991px) {
    .consultation{
        min-height: 534px;
        padding-left: 47px;
        &__descr {
            font-size: 17px;
        }
    }
}

@media (max-width: 767px) {
    .consultation{
        min-height: 517px;
        padding: 69px 0 63px 35px;
        &__descr {
            font-size: 16px;
        }
    }
}

@media (max-width: 575px) {
    .consultation{
        min-height: 471px;
        padding: 62px 0 66px 10px;
        &__descr {
            font-size: 14px;
            text-align: center;
        }
    }
}