.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../img/main_bg.jpg) center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 91px;
    }
    &__header {
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__subheader {
        margin-top: 17px;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__items {
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 108px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 500;
        color: #ffffff;
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    &__link {
        margin-top: 18px;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        a{
            text-decoration: underline;
            color: #ffffff;
            text-transform: uppercase;
        }
    }
}

@media (max-width: 1200px){
    .promo {
        padding: 19px 85px 86px 40px;
        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 22px;
        }
    }
}

@media (max-width: 991px) {
    .promo {
        min-height: 568px;
        padding: 17px 27 72px 47;
        &__wrapper {
            margin-top: 55px;
        }
        &__header {
            font-size: 34px;
        }
        &__subheader {
            font-size: 20px;
        }
        &__items {
            margin-top: 40px;
            width: 350px;
        }
        &__item {
            width: 118px;
            font-size: 13px;
            img {
                width: 35px;
            }
        }
        &__link {
            margin-top: 15px;
            font-size: 14px;
        }
    }
}

@media (max-width: 767px) {
    .promo {
        min-height: 449px;
        padding: 14px 30px 30px 30px;
        &__wrapper {
            margin-top: 55px;
        }
        &__header {
            font-size: 28px;
        }
        &__subheader {
            font-size: 17px;
        }
        &__items {
            margin-top: 30px;
            width: 330px;
        }
        &__item {
            width: 118px;
            font-size: 10px;
            img {
                width: 30px;
            }
        }
        &__link {
            font-size: 12px;
        }
    }
}

@media (max-width: 575px) {
    .promo {
        padding: 14px 25px 20px 25px;
        background-position: left;
        &__wrapper {
            margin-top: 35px;
            display: flex;
            align-items: center;
        }
        &__header {
            font-size: 22px;
        }
        &__subheader {
            font-size: 12px;
        }
        &__items {
            width: 264px;
        }
        &__item {
            font-size: 9px;
            img {
                width: 24px;
            }
        }
        &__link {
            font-size: 10px;
        }
    }
}