.title{
    font-size: 30px;
    font-weight: 700;
    color: #0d0d0d;
    text-align: center;
    text-transform: uppercase;
    &_white{
        font-size: 36px;
        color: #ffffff;
        text-align: left;
    }
}

@media (max-width: 1200px){
    .title{
        font-size: 28px;
    }
}

@media (max-width: 991px) {
    .title {
        font-size: 25px;
    }
}

@media (max-width: 767px) {
    .title {
        font-size: 22px;
    }
}

@media (max-width: 575px) {
    .title {
        font-size: 20px;
        &_white {
            font-size: 19px;
            text-align: center;
        }
    }
}